header {
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid #e0d7d7 1px;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: var(--default-textcolor-menu);
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 3;
}

.menu-icon {
    display: none;
}

.logo {
    flex: 4;
    font-size: 3.5rem;
    font-weight: 600;
    &:hover {
        color: var(--default-textcolor);
    }
}

.user {
    flex: 3;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;

    a {
        margin: 0 auto;
    }
}

.login {
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 0 30px 0 10px;

    &:hover {
        color: var(--default-textcolor);
    }
}

.cart {
    margin-right: 20px;
    position: relative;
    span {
        background: #dc143c;
        border-radius: 20px;
        color: #fff;
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 7px;
        font-size: 1.2rem;
        z-index: 1;
    }
}

.cart-icon {
    height: 50%;
    width: 30px;
    color: var(--default-textcolor);
}

.menu-mobile {
    .icon {
        position: absolute;
        right: 0px;
        padding-right: 15px;
    }

    a {
        margin: 10px 0;
    }

    button {
        margin-left: -14px;
    }
    box-shadow: 0 0 15px #ddd;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 200px;
    top: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    font-weight: bold;
    justify-content: space-between;
    background-color: white;
    z-index: 100;
}

// Responsize
// Mobile
@media screen and (max-width: 720px) {
    header {
        justify-content: space-between;
    }
    .menu-icon {
        display: block;
    }
    .menu {
        display: none;
    }
    .logo {
        flex: none;
    }
}
