.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
    margin-top: 20px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    label {
        height: 30px;
        margin-top: 20px;
        input {
            height: 100%;
            min-width: 200px;
        }
    }
}

@media (max-width: 720px) {
    .container {
        display: block;
        padding: 10px;
    }
}
