.wrapper {
    margin: 20px;
    padding-bottom: 20px;
}
.container {
    width: 100%;
}

.inner {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;
    }
}
